/* @tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}
 */

 /* Customize Heading Styles */
h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

h2 {
  font-size: 30px;
  color: #555;
  margin-bottom: 15px;
}

h3 {
  font-size: 19px;
  color: #777;
  margin-bottom: 7px;
}

h4 {
  font-size: 17px;
  color: #777;
  margin-bottom: 7px;
}

h5 {
  font-size: 16px;
  color: #777;
  margin-bottom: 7px;
}

p {
  font-size: 15px;
  color: #777;
  margin-bottom: 5px;
}

li {
  font-size: 15px;
  color: #777;
  margin-bottom: 5px;
}

.img-thumbnail {
  width: 300px;
  height: 300px;
}

.card-img-top {
  width: 200px; /* Adjust the width to your desired size */
  height: auto; /* To maintain the aspect ratio */
}

/* Add your additional custom styles for headings below */

/* Shared styles for both desktop and mobile */
.container {
  display: flex;
  flex-direction: column;
}

.person-item {
  display: flex;
  margin: 10px 0;
  align-items: flex-start;
}

.title-container {
  text-align: left; /* Center align the title */
  margin-top: 30px; /* Add top margin (adjust the value as needed) */
  margin-left: 20px; /* Add left margin (adjust the value as needed) */
}
.left-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content to the top */
  align-items: flex-start;
  height: 100%;
  text-align: justify;
}

.right-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content to the top */
  align-items: flex-start;
  height: 100%;
  text-align: justify;
}

/* Add a horizontal line style */
.horizontal-line {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

/* Media query for mobile view */
@media (max-width: 768px) {
  .person-item {
      flex-direction: column;
  }

  .left-column,
  .right-column {
      width: 100%;
  }
}


img {
  max-width: 100%;
  max-height: 100%;
}

/* Home.css */
.rounded-border {
  border-radius: 10px; /* You can adjust the border radius as needed */
  border: 0.5px solid #c5bebe; /* Add a border with your preferred style and color */
}
